<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label class="col-form-label">Køb produkt</label>
  </div>
  <div class="col-auto">
    <input [(ngModel)]="amount" type="number" class="form-control">
  </div>
  <div class="col-auto">
    <button (click)="addToCart()" class="btn btn-primary btn-sm">Tilføj random produkt</button>
  </div>
</div>

<h1>Indkøbskurv</h1>
<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th style="width:80px;">Id</th>
      <th>Navn</th>
      <th class="text-end" style="width:110px;">Stk Pris</th>
      <th style="width:70px;">Antal</th>
      <th class="text-end" style="width:110px;">Samlet Pris</th>
      <th style="width:45px;"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{item.productId}}</td>
      <td>{{item.title}}</td>
      <td class="text-end">{{ item.price | currency:'kr.'}}</td>
      <td>
        <input [(ngModel)]="item.quantity" (ngModelChange)="updateCart()"
          type="number" min="1" style="width:55px;">
      </td>
      <td class="text-end">{{ (item.price * item.quantity) | currency:'kr.'}}</td>
      <td><button (click)="removeItem(item)" class="btn btn-danger btn-sm">x</button></td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4" class="text-end">Total: </td>
      <td class="text-end">{{ cartService.getBasketTotal() | currency:'kr.'}}</td>
      <td></td>
    </tr>
  </tfoot>

</table>

<button (click)="clearCart()" class="btn btn-warning btn-sm">Tøm kurv</button>
<button (click)="clearCart()" class="btn btn-success btn-sm">KØB</button>
